.invoice-title {
    padding: 10px;
}

.invoice-filter {
    display: flex;
    gap: 20px;
    padding: 0px;
}

.invoice-page {
    height: 92vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.invoice-header {
     padding: 0px;
    border-bottom: 1px solid #EAEAEA;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.invoice-body {
  flex: 1;
    overflow-y: auto;
    padding: 0px;
}
.ChangeTableInvoicePadding{
height: auto !important;
width: 100% !important;
}

.ChangeTableInvoicePadding .ant-table-thead>tr>th {
    position: sticky !important;
    top: -5px !important;
    z-index: 100;
}

.ChangeTableInvoicePadding .ant-table-row{
    padding: 0 !important;
    margin: 0 !important;
}

.ChangeTableInvoicePadding .ant-table-cell {
    padding: 7px !important;
    font-size: 13px !important;
}

.invoice-footer {
      padding: 10px;
    display: flex;
    border-top: 1px solid #EAEAEA;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.ivoice-floting-button {
    position: absolute;
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 10;
    cursor: pointer;
}