.title-color {
    color: #787878;
    padding: 0;
    margin: 0;
}

.dashboard-card {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

.dashboard-card-value {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.dashboard-card-month-title {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.dashboard-card-month-subtitle {
    font-size: 14px;
    color: #999;
    padding: 0;
    margin: 0;
}

.dashboard-chart-container {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0px;
}

.dashboard-search-container {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.dashboard-crNumber-card {
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.dashboard-total-firm-card {
    background-color: #F0FDF4;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-toal-qty-card {
    background-color: #EFF6FF;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-card-label {
    background-color: #FFF8EF;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 20px;
    width: 20px;
}

.dashboard-upload-icon {
    background-color: #EFEFFF;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-totalCrnumber-icon {
    background-color: #EFF6FF;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-complete-icon {
    background-color: #F0FDF4;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-pending-icon {
    background-color: #FEF2F2;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    transition: all 0.3s linear;
    background-color: #f6e6d2;
}

.dashboard-layout {
    display: grid;
    grid-template-columns: 58% 40%;
    gap: 10px;
}

.dashboard-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.dashboard-summary-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.dashboard-chart-container {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}

.dashboard-chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-table {
    margin-top: 10px;
}

.row-completed td {
  background-color: #e6f8e2 !important;  
}

.row-pending td {
  background-color: #fde6e4 !important;  
}

.right-table-scroll {
  max-height: 320px;   
  overflow-y: auto;
}

.dashboard-header{
    display: flex;
    justify-content: space-between;
}

.pending-color-label{
    background-color: #fde6e4;
    height: 30px;
    width: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.completed-color-label{
    background-color: #e6f8e2;
    height: 30px;
    width: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media(max-width:1024px) {

    .dashboard-layout {
        grid-template-columns: 1fr;
    }

    .dashboard-cards {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media(max-width:600px) {

    .dashboard-cards {
        grid-template-columns: 1fr;
    }

    .dashboard-summary-cards {
        grid-template-columns: 1fr;
    }

    .dashboard-chart-header {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

}