.title-color{
    color: #787878;
    padding: 0;
    margin: 0;
}
.dashboard-card {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
}
.dashboard-card-value{
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.dashboard-card-month-title{
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.dashboard-card-month-subtitle{
    font-size: 14px;
    color: #999;
    padding: 0;
    margin: 0;
}
.dashboard-chart-container{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0px;
}
.dashboard-search-container{
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0px;
}
.dashboard-crNumber-card{
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
.dashboard-total-firm-card{
    background-color: #F0FDF4;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-toal-qty-card{
    background-color: #EFF6FF;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-card-label{
    background-color: #FFF8EF;
    border-radius: 5px;
    padding: 5px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    height: 20px;
    width: 20px;
}
.dashboard-upload-icon{
    background-color: #EFEFFF;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-totalCrnumber-icon{
    background-color: #EFF6FF;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-complete-icon{
    background-color: #F0FDF4;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-pending-icon{
    background-color: #FEF2F2;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}