.ant-table-tbody>tr.custom-row>td {
  background-color: #faddc9 !important;
}

.ant-table-tbody>tr.custom-row:hover>td {
  background-color: #faddc9 !important;
}

.ant-table-tbody>tr.selectd-row>td {
  background-color: #d7f7fc !important;
}

.ant-table-tbody>tr.selectd-row:hover>td {
  background-color: #d7f7fc !important;
}

.ant-table-tbody>tr.parent-with-select-row>td {
  background-color: #d7f7fc !important;
}

.ant-table-tbody>tr.parent-with-select-row:hover>td {
  background-color: #d7f7fc !important;
}