/* src/index.css */
.Toastify__toast--success {
  background: #518b36 !important;
}
.Toastify__toast--error {
  background: #d97272 !important;
}
.Toastify__toast--warning {
  background: #dfd508 !important;
}
