@font-face {
    font-family: 'DMSansThin';
    src: url('../assets/fonts/DMSansThin.eot');
    src: url('../assets/fonts/DMSansThin.eot') format('embedded-opentype'),
        url('../assets/fonts/DMSansThin.woff2') format('woff2'),
        url('../assets/fonts/DMSansThin.woff') format('woff'),
        url('../assets/fonts/DMSansThin.ttf') format('truetype'),
        url('../assets/fonts/DMSansThin.svg#DMSansThin') format('svg');
}

@font-face {
    font-family: 'DMSansLight';
    src: url('../assets/fonts/DMSansLight.eot');
    src: url('../assets/fonts/DMSansLight.eot') format('embedded-opentype'),
        url('../assets/fonts/DMSansLight.woff2') format('woff2'),
        url('../assets/fonts/DMSansLight.woff') format('woff'),
        url('../assets/fonts/DMSansLight.ttf') format('truetype'),
        url('../assets/fonts/DMSansLight.svg#DMSansLight') format('svg');
}

@font-face {
    font-family: 'DMSansRegular';
    src: url('../assets/fonts/DMSansRegular.eot');
    src: url('../assets/fonts/DMSansRegular.eot') format('embedded-opentype'),
        url('../assets/fonts/DMSansRegular.woff2') format('woff2'),
        url('../assets/fonts/DMSansRegular.woff') format('woff'),
        url('../assets/fonts/DMSansRegular.ttf') format('truetype'),
        url('../assets/fonts/DMSansRegular.svg#DMSansRegular') format('svg');
}

@font-face {
    font-family: 'DMSansMedium';
    src: url('../assets/fonts/DMSansMedium.eot');
    src: url('../assets/fonts/DMSansMedium.eot') format('embedded-opentype'),
        url('../assets/fonts/DMSansMedium.woff2') format('woff2'),
        url('../assets/fonts/DMSansMedium.woff') format('woff'),
        url('../assets/fonts/DMSansMedium.ttf') format('truetype'),
        url('../assets/fonts/DMSansMedium.svg#DMSansMedium') format('svg');
}

@font-face {
    font-family: 'DMSansBold';
    src: url('../assets/fonts/DMSansBold.eot');
    src: url('../assets/fonts/DMSansBold.eot') format('embedded-opentype'),
        url('../assets/fonts/DMSansBold.woff2') format('woff2'),
        url('../assets/fonts/DMSansBold.woff') format('woff'),
        url('../assets/fonts/DMSansBold.ttf') format('truetype'),
        url('../assets/fonts/DMSansBold.svg#DMSansBold') format('svg');
}

@font-face {
    font-family: 'DMSansSemiBold';
    src: url('../assets/fonts/DMSansSemiBold.eot');
    src: url('../assets/fonts/DMSansSemiBold.eot') format('embedded-opentype'),
        url('../assets/fonts/DMSansSemiBold.woff2') format('woff2'),
        url('../assets/fonts/DMSansSemiBold.woff') format('woff'),
        url('../assets/fonts/DMSansSemiBold.ttf') format('truetype'),
        url('../assets/fonts/DMSansSemiBold.svg#DMSansSemiBold') format('svg');
}

@font-face {
    font-family: 'DMSansBlack';
    src: url('../assets/fonts/DMSansBlack.eot');
    src: url('../assets/fonts/DMSansBlack.eot') format('embedded-opentype'),
        url('../assets/fonts/DMSansBlack.woff2') format('woff2'),
        url('../assets/fonts/DMSansBlack.woff') format('woff'),
        url('../assets/fonts/DMSansBlack.ttf') format('truetype'),
        url('../assets/fonts/DMSansBlack.svg#DMSansBlack') format('svg');
}