@import 'src/scss/variables';
@import 'src/scss/mixins';

.layout {
    position: relative;
    padding-left: 205px;
    background-color: var(--bg-color);

    &__container {
        padding: 1px;
        min-height: calc(100vh - 75px);
    }
}