@import 'src/scss/variables';
@import 'src/scss/mixins';

.layout {
    position: relative;
    padding-left: calc(var(--sidebar-width, 180px) + 25px);
    transition: padding-left 0.25s ease;
    background-color: var(--bg-color);

    &__container {
        padding: 1px;
        min-height: calc(100vh - 75px);
    }
}